.Home_1{
    height: 500px;
    width: 100vw;
    background-color: gray;
    display: flex;
    flex-direction: row;
}

.Home_1_main{
    width: 70%;
    height: 100%;
}

.Home_1_desc{
    height: 80%;
}

.Home_1_botao{
    height: 20%;
}

.Home_1_seta{
    width: 15%;
    height: 100%;
}

.Home_2{
    height: fit-content;
    min-height: 700px;
    width: 100vw;
    display: flex;
    flex-direction: row;
}

.Home_2_tabela{
    width: 50%;
    background-color: black;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.Home_2_tabela table{
    height: 70%;
    width: 70%;
    color: white;
    border-collapse: collapse;
    border: 5px solid white
}

.Home_2_tabela th{
    text-align: center;
    border: 5px solid white;
}

.Home_2_tabela td{
    text-align: center;
    border: 3px solid white;
}

.Home_2_tabela th:hover{
    background-color: gold;
    color: black;
}

.Home_2_tabela td:hover{
    background-color: gold;
    color: red;
}

.Home_2_desc{
    width: 50%;
    background-color: black;
    color: white;
    text-align: center;
    padding: 3%;
    font-size: larger;
    overflow: scroll;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

@media screen and (max-width: 700px) {
    .Home_2{
        height: 700px;
        flex-direction: column;
    }

    .Home_2_tabela{
        height: 50%;
        width: 100%;
        min-width: 480px;
    }

    .Home_2_desc{
        height: 50%;
        width: 100%;
        min-width: 480px;
    }
}