.MainBackground{
    min-height: 100vh;
    background: linear-gradient(
        rgba(0, 0, 0, 0.5),
        rgba(0, 0, 0, 0.5)
    ), url("../../Assets/Dragon.png");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.Main{
    width: 80%;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 30px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Titulo{
    text-align: center;
}

.Titulo h1{
    color: white;
    font-size: 3em;
    margin: 0px;
}

.Image1{
    height: 500px;
    width: 70%;
    color: white;
    border-radius: 30px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.Desc1{
    margin-top: 30px;
    color: white;
    display: flex;
}

.Desc1Img{
    width: 50%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.Desc1Img img{
    width: 100%;
    border-radius: 15px;
}

.Desc1Txt{
    width: 45%;
    padding-left: 2.5%;
    padding-right: 2.5%;
    text-align: center;
}

.Desc2{
    margin-top: 30px;
    padding-left: 2.5%;
    padding-right: 2.5%;
    text-align: center;
    color: white;
}

.More{
    height: 250px;
    width: 100%;
    margin-top: 30px;
    border-top: 3px solid white;
    display: flex;
}

.MoreItem{
    height: 100%;
    width: 50%;
    color: white;
    display: flex;
}

.MoreItemImg{
    height: 100%;
    width: 50%;
    border-radius: 30px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.MoreItemImg img{
    height: 100%;
}

.MoreItemLink{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.MoreItemLink a{
    color: white;
}

.MoreItemLink a:hover{
    font-size: 1.5em;
    color: gold;
}

.MoreItemLink a:active{
    color: red;
}

@media screen and (max-width: 700px) {
    .Desc1{
        flex-direction: column-reverse;
    }

    .Desc1Img{
        width: 100%;
    }

    .Desc1Txt{
        width: 95%;
    }

    .More{
        flex-direction: column;
        height: 500px;
    }

    .MoreItem{
        height: 50%;
        width: 100%;
        flex-direction: column-reverse;
    }

    .MoreItemImg{
        width: 100%;
        height: 80%;
    }

    .MoreItemLink{
        width: 100%;
    }
}